





.large_input {
  width: 403px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;

}

.large_inputContainer {
  margin-top: 30px;
  margin-left: 32px;
}

.large_button {
  width: 403px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: 32px;
}


